body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.body {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 60px;
  padding-top: 16px;
  border-bottom: 1px #ECECEC solid;
  width: 100vw;
}

.header-div {
  width: 100vw;
  display: flex;
  align-items: center;
}

.list-header {
  display: none;
}

.link-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo {
  color: #212121;
}

.container-menu {
  width: 24px;
  height: 16px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 16px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle.menu-toggle:hover, .menu-toggle.menu-toggle:focus {
  color: #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40%;
  gap: 32px;
}

.mobile-menu__item:not(:last-child) {
  padding-bottom: 36px;
}

.mobile-menu .link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu .link.active {
  color: #2196F3;
}

@keyframes sizing {
  0% {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
.list-header-menu {
  margin-bottom: 20%;
}

.list-header__item-menu:not(:last-child) {
  margin-bottom: 32px;
}

.link-list-item-menu {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}
.link-list-item-menu:hover {
  animation-name: sizing;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.social-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 320px) {
  .social-menu {
    flex-wrap: wrap;
  }
}

.social-menu__item {
  padding-right: 10px;
}
.social-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-link-menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media (max-height: 600px) {
  .mobile-menu {
    margin-bottom: 100px;
  }
  .link {
    font-size: 24px !important;
  }
  .link-list-item-menu {
    font-size: 16px !important;
  }
}
@media (min-height: 600px) and (max-height: 719px) {
  .mobile-menu {
    margin-bottom: 150px;
  }
  .link {
    font-size: 30px !important;
  }
  .link-list-item-menu {
    font-size: 20px !important;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding-top: 21px;
  }
  .menu, .container-menu {
    display: none;
  }
  .header-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-header {
    display: block;
  }
  .list-header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 96px;
  }
  .link-list-item-header {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
    position: relative;
    padding-bottom: 32px;
  }
  .link-list-item-header.active {
    color: #2196F3;
  }
  .link-list-item-header:hover {
    color: #2196F3;
  }
  .link-list-item-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  .link-list-item-header.active::after {
    transform: scaleX(1);
  }
  .link-list-item-header:hover::after {
    transform: scaleX(1);
  }
  .link-header {
    margin-right: 88px;
  }
  .list-header-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .list-header__item {
    text-wrap: nowrap;
  }
  .link-list-item {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
  }
  .menu, .container-menu {
    display: none;
  }
  .header-div {
    width: 1200px;
    justify-content: start;
  }
  .link-header {
    margin-right: 94px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
  .list-header-nav {
    padding-right: 315px;
  }
  .list-header-div {
    flex-direction: row;
    gap: 30px;
  }
  .link-list-item:hover {
    color: #2196F3;
    fill: #2196F3;
    transition-property: color, fill;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
  }
  .link-list-item-header {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
    position: relative;
    padding-bottom: 33px;
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-m-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-m-2x.png);
  }
}

.hero-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.title-hero {
  color: #FFFFFF;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.button-hero {
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  width: 200px;
  height: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
@media (min-width: 320px) and (max-width: 375px) {
  .modal .title-modal {
    font-size: 15px !important;
  }
}
.modal .label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}
.modal .div-checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.modal .div-checkbox .link-check {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196F3;
}
.modal .div-form > input {
  padding-left: 42px;
}
.modal input, .modal textarea {
  outline: none;
}
.modal input:focus:valid, .modal textarea:focus:valid {
  outline: 1px solid #2196F3;
}
.modal input:focus:invalid, .modal textarea:focus:invalid {
  outline: 1px red solid;
}
.modal .checkbox-lb {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal .textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 70vw;
  max-width: 370px;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.modal .textarea:focus {
  border: 1px solid #2196F3;
  transition: border-color 0.3s;
}
.modal .input-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 70vw;
  max-width: 370px;
  height: 40px;
}
.modal .btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 100%;
  fill: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 31px;
  height: 31px;
}
.modal .btn:hover {
  cursor: pointer;
}
.modal .man,
.modal .phone1,
.modal .mail {
  position: absolute;
  fill: #212121;
}
.modal .man.man,
.modal .phone1.man,
.modal .mail.man {
  top: 32px;
  left: 15px;
}
.modal .man.phone1,
.modal .phone1.phone1,
.modal .mail.phone1 {
  top: 31.3px;
  left: 15px;
}
.modal .man.mail,
.modal .phone1.mail,
.modal .mail.mail {
  top: 32px;
  left: 14px;
}

.submit {
  width: 200px;
  height: 50px;
}

.forms {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forms .div-form {
  position: relative;
}
.forms .div-form:not(:last-child) {
  margin-bottom: 10px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100vw;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-t-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-t-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .title-hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-d-1x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-d-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
  }
}
.section-peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-peculiarities .peculiarities-div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-peculiarities .title-peculiarities {
  color: #212121;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  display: none;
}
.section-peculiarities .list-peculiarities .list-peculiarities__item {
  width: 100%;
  max-width: 450px;
}
.section-peculiarities .list-peculiarities .list-peculiarities__item:not(:last-child) {
  margin-bottom: 30px;
}
.section-peculiarities .list-peculiarities .list-peculiarities__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.section-peculiarities .list-peculiarities .list-peculiarities__item:nth-child(1)::before {
  background-image: url(../svg/anten.svg);
}
.section-peculiarities .list-peculiarities .list-peculiarities__item:nth-child(2)::before {
  background-image: url(../svg/clock.svg);
}
.section-peculiarities .list-peculiarities .list-peculiarities__item:nth-child(3)::before {
  background-image: url(../svg/diagram.svg);
}
.section-peculiarities .list-peculiarities .list-peculiarities__item:nth-child(4)::before {
  background-image: url(../svg/astronaut.svg);
}
.section-peculiarities .title-item-peculiarities {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.section-peculiarities .description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .peculiarities-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .peculiarities-div .list-peculiarities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .peculiarities-div .list-peculiarities .list-peculiarities__item {
    width: 354px;
  }
  .peculiarities-div .list-peculiarities .list-peculiarities__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-peculiarities {
    padding-top: 94px;
    padding-bottom: 118px;
  }
  .section-peculiarities .peculiarities-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-peculiarities .peculiarities-div .list-peculiarities {
    display: flex;
  }
  .section-peculiarities .peculiarities-div .list-peculiarities .list-peculiarities__item {
    width: 270px;
  }
  .section-peculiarities .peculiarities-div .list-peculiarities .list-peculiarities__item:not(:last-child) {
    margin-bottom: 0;
  }
  .section-peculiarities .peculiarities-div .list-peculiarities .list-peculiarities__item .title-item-peculiarities {
    text-align: start;
  }
}
.section-doing {
  display: none;
  min-width: 100vw;
}

@media screen and (min-width: 1200px) {
  .section-doing {
    display: block;
    padding-bottom: 94px;
  }
  .section-doing .doing-div {
    width: 1200px;
  }
  .section-doing .title-doing {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  .section-doing .list-doing {
    display: flex;
    justify-content: space-between;
  }
  .section-doing .list-doing .list-doing__item {
    position: relative;
    width: 370px;
    height: 294px;
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 100ms;
  }
  .section-doing .list-doing .list-doing__item:hover {
    transform: scale(1.05);
  }
  .section-doing .list-doing .list-doing__item .text-doing {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-wrap: nowrap;
    padding: 24px 0;
  }
}
.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100vw;
}
.section-team .team-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.section-team .title-team {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.section-team .list-team .list-team__item {
  width: 100%;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(1);
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 100ms;
}
.section-team .list-team .list-team__item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 4px rgba(0, 0, 0, 0.12);
}
.section-team .list-team .list-team__item:not(:last-child) {
  margin-bottom: 30px;
}
.section-team .team-image {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.section-team .name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.section-team .profession {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-team .social-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.section-team .social-list .social-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-team .social-list .social-list__item:hover .social-link {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.section-team .social-link {
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

@media screen and (min-width: 768px) {
  .section-team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100vw;
  }
  .section-team .list-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .section-team .list-team .list-team__item {
    width: 354px;
  }
  .section-team .list-team .list-team__item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 4px rgba(0, 0, 0, 0.12);
  }
  .section-team .list-team .list-team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 100vw;
  }
  .section-team .title-team {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .section-team .list-team {
    display: flex;
    align-items: center;
  }
  .section-team .list-team .list-team__item {
    width: 270px;
  }
  .section-team .list-team .list-team__item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 4px rgba(0, 0, 0, 0.12);
  }
  .section-team .list-team .list-team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.section-clients {
  padding: 60px 0;
}
.section-clients .clients-div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-clients .title-clients {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.section-clients .list-clients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  max-width: 450px;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section-clients .list-clients .list-clients__item:hover .link-clients {
  border-color: #2196F3;
  fill: #2196F3;
}
.section-clients .list-clients__item .link-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 44vw;
  max-width: 210px;
  height: 92px;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, fill 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

@media screen and (min-width: 768px) {
  .section-clients .list-clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .section-clients .list-clients__item .link-clients {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .section-clients .title-clients {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
  }
  .section-clients .list-clients {
    display: flex;
    align-items: center;
  }
  .section-clients .list-clients__item .link-clients {
    width: 170px;
    height: 92px;
  }
}
.footer {
  background-color: #2F303A;
  padding: 60px 0;
  width: 100vw;
}
.footer .footer-div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer__adress {
  font-style: normal;
}
.footer .link-footer {
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
.footer .logo-footer {
  color: #FFFFFF;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer .list-footer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .list-footer .list-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .link-address-maps {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.footer .link-address {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
.footer .link-address:hover {
  color: #FFFFFF;
}
.footer .footer-social {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-social .title-footer-social {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer .footer-social .social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
.footer .footer-social .social-list .social-list__item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .footer-social .social-list .social-list__item-footer .social-link {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  border-radius: 50%;
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, fill 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-social .social-list .social-list__item-footer .social-link:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.footer .div-send {
  padding-top: 60px;
}
.footer .div-send .title-footer-send {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
.footer .div-send .form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .div-send .form-footer .input-send {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  outline: none;
  margin-bottom: 20px;
}
.footer .div-send .form-footer .input-send:focus:invalid {
  border-color: red;
}
.footer .div-send .form-footer .button-send {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border: none;
  padding: 10px 28px;
  gap: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-div .tablet-footer {
    display: flex;
    width: 603px;
    gap: 165px;
  }
  .footer-div .tablet-footer .footer-social {
    padding-top: 5px;
  }
  .footer-div .div-send .form-footer .input-send {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-div {
    flex-direction: row;
    align-items: normal;
    width: 1200px;
  }
  .footer .footer-div .footer-social {
    align-items: normal;
  }
  .footer .footer-div .tablet-footer {
    gap: 70px;
  }
  .footer .footer-div .link-footer {
    text-align: left;
  }
  .footer .footer-div .list-footer {
    align-items: start;
  }
  .footer .footer-div .div-send {
    padding-top: 5px;
  }
  .footer .footer-div .div-send .title-footer-send {
    text-align: left;
  }
  .footer .footer-div .div-send .form .form-footer {
    display: flex;
    flex-direction: row;
  }
  .footer .footer-div .div-send .form .form-footer .input-send {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio-section .portfolio-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.portfolio-section .filter-title {
  display: none;
}
@media (min-width: 320px) and (max-width: 369px) {
  .portfolio-section .filter-list {
    width: 280px !important;
  }
}
.portfolio-section .filter-list {
  display: flex;
  gap: 8px;
  width: 339px;
  flex-wrap: wrap;
}
.portfolio-section .filter-list .filter-list__item {
  display: block;
}
.portfolio-section .filter-list .list-item-button {
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  text-wrap: nowrap;
  transition-property: background, color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 100ms;
}
.portfolio-section .filter-list .list-item-button.active-but {
  background-color: #2196F3;
  color: #FFFFFF;
}
.portfolio-section .filter-list .list-item-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}
.portfolio-section .project-list {
  padding-top: 40px;
}
.portfolio-section .project-list .project-list__item {
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  width: 44vw;
  max-width: 450px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
.portfolio-section .project-list .project-list__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio-section .project-list .project-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.portfolio-section .project-list .box {
  position: relative;
  width: 88vw;
  max-width: 450px;
  min-height: 293px;
  max-width: 404px;
  margin: 0 auto;
  overflow: hidden;
}
.portfolio-section .project-list .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.portfolio-section .project-list .box .overlay .taxt {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 10% 5%;
}
@media (min-width: 320px) and (max-width: 371px) {
  .portfolio-section .project-list .box .taxt {
    font-size: 15px !important;
  }
}
.portfolio-section .project-list .box:hover .overlay {
  transform: translatey(0);
}
.portfolio-section .project-list .box .div-text {
  width: 100%;
  height: 110px;
  padding: 20px 23px 12px 23px;
  border: solid #EEEEEE;
  border-width: 0 1px 1px 1px;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  position: relative;
}
.portfolio-section .project-list .box .div-text .project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  justify-content: left;
  margin-bottom: 4px;
  text-wrap: nowrap;
}
.portfolio-section .project-list .box .div-text .description-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: left;
  display: flex;
  justify-content: left;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .portfolio-section .portfolio-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-section .portfolio-div .filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 8px;
  }
  .portfolio-section .portfolio-div .filter-list .filter-list__item {
    display: block;
  }
  .portfolio-section .portfolio-div .filter-list .list-item-button {
    padding: 6px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    text-wrap: nowrap;
  }
  .portfolio-section .portfolio-div .filter-list .list-item-button.active-but {
    background-color: #2196F3;
    color: #FFFFFF;
  }
  .portfolio-section .portfolio-div .project-list {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .portfolio-section .portfolio-div .project-list .project-list__item {
    max-width: 354px;
  }
  .portfolio-section .portfolio-div .project-list .project-list__item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  .portfolio-section .portfolio-div .project-list .project-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-section .portfolio-div .project-list .box {
    width: 354px;
    height: 440px;
  }
  .portfolio-section .portfolio-div .project-list .box .taxt {
    padding: 49px 24px 77px 24px;
  }
  .portfolio-section .portfolio-div .project-list .box .div-text {
    width: 354px;
    height: 146px;
    padding: 20px 24px 56px 24px;
  }
  .portfolio-section .portfolio-div .project-list .box .div-text .project-item-title {
    text-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio-section .portfolio-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-section .portfolio-div .project-list {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .portfolio-section .portfolio-div .project-list .project-list__item {
    max-width: 354px;
    height: 404px;
  }
  .portfolio-section .portfolio-div .project-list .project-list__item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  .portfolio-section .portfolio-div .project-list .project-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-section .portfolio-div .project-list .box {
    width: 354px;
    height: 100%;
  }
  .portfolio-section .portfolio-div .project-list .box .taxt {
    padding: 63px 24px;
  }
  .portfolio-section .portfolio-div .project-list .box .div-text {
    width: 354px;
    height: 110px;
    padding: 20px 24px;
  }
  .portfolio-section .portfolio-div .project-list .box .div-text .project-item-title {
    text-wrap: nowrap;
  }
}/*# sourceMappingURL=main.css.map */